In [99]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/damac44/anaconda3/lib/python3.10/site-packages (2.0.9)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/damac44/anaconda3/lib/python3.10/site-packages (from sqlalchemy) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/damac44/anaconda3/lib/python3.10/site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [100]:
import sqlalchemy

In [101]:
import pandas as pd

In [102]:
%load_ext sql
from sqlalchemy import create_engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [103]:
engine = create_engine('postgresql://postgres:poplpol@localhost:5432/food_ordering_system')

In [104]:
df = pd.read_csv (r'/Users/damac44/Desktop/LoanPrediction/customer_credit.csv')

In [146]:
df

,CustomerId,TransactionStartTime,Value,Amount,TransactionId,BatchId,SubscriptionId,CurrencyCode,CountryCode,ProviderId,...,TransactionStatus,IssuedDateLoan,AmountLoan,LoanId,InvestorId,LoanApplicationId,ThirdPartyId,PaidOnDate,DueDate,IsDefaulted
0,CustomerId_27,2018-09-21 12:17:39,550,-550,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,0,2018-11-27 19:11:26,11824.44,LoanId_1438,InvestorId_2,LoanApplicationId_1171,ThirdPartyId_1265,2018-10-23 15:26:58,2018-11-22 15:20:53,1
1,CustomerId_27,2018-09-21 12:17:39,550,-550,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,0,2018-11-27 19:11:26,11824.44,LoanId_1438,InvestorId_2,LoanApplicationId_1171,ThirdPartyId_1265,2018-10-23 15:26:58,2018-11-22 15:20:53,1
2,CustomerId_27,2018-09-21 12:17:39,550,-550,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,0,2018-11-27 19:11:26,11824.44,LoanId_1438,InvestorId_2,LoanApplicationId_1171,ThirdPartyId_1265,2018-10-24 6:38:49,2018-11-23 6:33:57,1
3,CustomerId_27,2018-09-21 12:17:39,550,-550,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,0,2018-11-27 19:11:26,11824.44,LoanId_1438,InvestorId_2,LoanApplicationId_1171,ThirdPartyId_1265,2018-10-24 7:01:48,2018-11-23 6:55:58,1
4,CustomerId_27,2018-09-21 12:17:39,550,-550,TransactionId_1683,BatchId_641,SubscriptionId_2,UGX,256,ProviderId_1,...,0,2018-11-27 19:11:26,11824.44,LoanId_1438,InvestorId_2,LoanApplicationId_1171,ThirdPartyId_1265,2018-10-30 10:54:55,2018-11-29 10:25:24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156968,CustomerId_310,1/1/19 0:12:01,2000,2000,TransactionId_16784,BatchId_11840,SubscriptionId_7,UGX,256,ProviderId_5,...,1,2018-11-26 6:41:46,11824.44,LoanId_714,InvestorId_1,LoanApplicationId_1021,ThirdPartyId_1468,2019-02-08 6:34:33,2019-03-08 14:41:27,0
156969,CustomerId_310,1/1/19 0:12:01,2000,2000,TransactionId_16784,BatchId_11840,SubscriptionId_7,UGX,256,ProviderId_5,...,1,2018-11-26 6:41:46,11824.44,LoanId_714,InvestorId_1,LoanApplicationId_1021,ThirdPartyId_1468,2019-02-18 11:38:43,2019-03-14 4:25:22,0
156970,CustomerId_310,1/1/19 0:12:01,2000,2000,TransactionId_16784,BatchId_11840,SubscriptionId_7,UGX,256,ProviderId_5,...,1,2018-11-26 6:41:46,11824.44,LoanId_714,InvestorId_1,LoanApplicationId_1021,ThirdPartyId_1468,2019-03-22 17:43:32,2019-04-09 2:20:08,0
156971,CustomerId_310,1/1/19 0:12:01,2000,2000,TransactionId_16784,BatchId_11840,SubscriptionId_7,UGX,256,ProviderId_5,...,1,2018-11-26 6:41:46,11824.44,LoanId_714,InvestorId_1,LoanApplicationId_1021,ThirdPartyId_1468,2019-03-22 17:41:27,2019-04-16 21:00:34,0
156972,CustomerId_310,1/1/19 0:12:01,2000,2000,TransactionId_16784,BatchId_11840,SubscriptionId_7,UGX,256,ProviderId_5,...,1,2018-11-26 6:41:46,11824.44,LoanId_714,InvestorId_1,LoanApplicationId_1021,ThirdPartyId_1468,2019-03-22 17:39:27,2019-04-16 21:01:14,0

In [106]:
df.to_sql('customer_credit', engine, if_exists='replace', index = False, chunksize=156973 )

973

In [107]:
%sql postgresql://postgres:polpol@localhost:5432/food_ordering_system

## What is the total Value and Amount for each TransactionStatus?

In [119]:
%%sql
SELECT "TransactionStatus",
       SUM("Value") AS TotalValue,
       SUM("Amount") AS TotalAmount
FROM customer_credit
GROUP BY "TransactionStatus"

 * postgresql://postgres:***@localhost:5432/food_ordering_system
2 rows affected.

[(0, Decimal('61568649'), Decimal('-39197109')),
 (1, Decimal('1218816831'), Decimal('184768129'))]

## Find the average Loan Amount (AmountLoan) for each ProviderId.

In [121]:
%%sql
SELECT "ProviderId", AVG("AmountLoan") AS AverageLoanAmount
FROM customer_credit
GROUP BY "ProviderId"

 * postgresql://postgres:***@localhost:5432/food_ordering_system
5 rows affected.

[('ProviderId_1', 5906.956433010161),
 ('ProviderId_2', 11824.440000000499),
 ('ProviderId_3', 11824.440000000313),
 ('ProviderId_4', 11824.43999999847),
 ('ProviderId_5', 11824.439999997945)]

## What are the key factors influencing loan repayment rates (IsDefaulted)?

In [124]:
%%sql
SELECT 100.0 * SUM(CASE WHEN "IsDefaulted" = 0 THEN 1 ELSE 0 END) / COUNT(*) AS RepaymentRate
FROM customer_credit

 * postgresql://postgres:***@localhost:5432/food_ordering_system
1 rows affected.

[(Decimal('83.3926853662731807'),)]

## What is the maximum Loan Amount (AmountLoan) among all transactions?

In [132]:
%%sql

SELECT MAX("AmountLoan") AS MaximumLoanAmount
FROM customer_credit

 * postgresql://postgres:***@localhost:5432/food_ordering_system
1 rows affected.

[(2760000.0,)]

## Retrieve all transactions where the PaidOnDate is after the DueDate.

In [141]:
%%sql
SELECT * 
FROM customer_credit
WHERE "PaidOnDate" > "DueDate"

 * postgresql://postgres:***@localhost:5432/food_ordering_system
(psycopg2.errors.SyntaxError) syntax error at or near "AS"
LINE 1: SELECT * AS Paid
                 ^

[SQL: SELECT * AS Paid
FROM customer_credit
WHERE "PaidOnDate" > "DueDate"]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Find the top 5 customers with the highest total transaction Value.

In [135]:
%%sql
SELECT "CustomerId", SUM("Value") AS TotalTransactionValue
FROM customer_credit
GROUP BY "CustomerId"
ORDER BY TotalTransactionValue DESC
LIMIT 5

 * postgresql://postgres:***@localhost:5432/food_ordering_system
5 rows affected.

[('CustomerId_233', Decimal('138358710')),
 ('CustomerId_305', Decimal('57509000')),
 ('CustomerId_390', Decimal('53026200')),
 ('CustomerId_216', Decimal('49368000')),
 ('CustomerId_310', Decimal('49060032'))]

## What is the average Value and Amount for each SubscriptionId?

In [137]:
%%sql
SELECT "SubscriptionId", AVG("Value") AS AvgValue, AVG("Amount") AS AvgAmount
FROM customer_credit
GROUP BY "SubscriptionId"

 * postgresql://postgres:***@localhost:5432/food_ordering_system
6 rows affected.

[('SubscriptionId_1', Decimal('14009.7467111191205623'), Decimal('3657.2725716345287439')),
 ('SubscriptionId_2', Decimal('550.0000000000000000'), Decimal('-550.0000000000000000')),
 ('SubscriptionId_4', Decimal('14948.506459948320'), Decimal('14628.939863753817')),
 ('SubscriptionId_5', Decimal('73988.458070333634'), Decimal('-64252.750225428314')),
 ('SubscriptionId_6', Decimal('214539.325908558030'), Decimal('-212678.024618991794')),
 ('SubscriptionId_7', Decimal('4085.4614841357161973'), Decimal('3081.6655639477831633'))]

## How many transactions have a LoanApplicationId associated with a ThirdPartyId?

In [138]:
%%sql
SELECT COUNT(*) AS NumTransactions
FROM customer_credit
WHERE "LoanApplicationId" IS NOT NULL AND "ThirdPartyId" IS NOT NULL;

 * postgresql://postgres:***@localhost:5432/food_ordering_system
1 rows affected.

[(156973,)]

## What is the average transaction value for each investor? Which investors have the highest transaction values?

In [143]:
%%sql
SELECT
    "InvestorId",
    AVG("Value") AS AverageTransactionValue
FROM
    customer_credit
GROUP BY
    "InvestorId";

 * postgresql://postgres:***@localhost:5432/food_ordering_system
3 rows affected.

[('InvestorId_1', Decimal('4119.0703615855336045')),
 ('InvestorId_2', Decimal('42490.906473799901')),
 ('InvestorId_3', Decimal('15175.836496001910'))]

## Retrieve all transactions with a LoanId and their corresponding LoanApplicationId and InvestorId.

In [ ]:
%%sql
SELECT "TransactionId", "LoanId", "LoanApplicationId", "InvestorId"
FROM customer_credit
WHERE "LoanId" IS NOT NULL;